[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[core]
    excludesfile = /Users/ikeda/.gitignore_global
    pager = LESS=-R less
    autoCRLF = false
    editor = vim
[alias]
    st = status
    ci = commit
    co = checkout
    ; dsf = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy  | less --tabs=4 -RFX --pattern '^(Date|added|deleted|modified): '; }; f"
    dsf = diff
    patch = !git --no-pager diff --no-color
[merge]
    tool = vimdiff
    ; tool = p4merge
    keepBackup = false;
[mergetool "p4merge"]
    cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    keepTemporaries = false
    trustExitCode = false
    keepBackup = false
[diff]
    ; external = git_diff_wrapper
    ; external = p4diff
; [pager]

    ; diff = diff-so-fancy | less --tabs=4 -RFX --pattern '^(Date|added|deleted|modified): '
    ; diff = diff-so-fancy | less --tabs=4 -RFX --pattern '^(Date|added|deleted|modified): '
    ; diff = diff-so-fancy | less --tabs=4 -RFX
    ; show = diff-so-fancy | less --tabs=4 -RFX
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path =
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[tig "bind"]
    generic = g move-first-line
    generic = G move-last-line
[include]
    path = ~/.gitconfig.local
[fetch]
    prune = true
[commit]
    template = ~/.git.commit_template
[pager]
	  branch = cat
    template = ~/.git.commit_template
