*.svn
*.svn-base
*.aux
*.bbl
*.blg
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.log
*.out
*.toc
*.fdb_latexmk
*.pdfsync
*.synctex.gz
*.nav
*.snm
*.vrb
\#*\#
\.#*
%*%~
.project
.pydevproject
.settings
.settings/*
.buildpath
.DS_Store
.gaedata
.metadata
*.orig
*.pyc
*.pyo
*.swp
*.tmp
*.hg
.idea

migrations

# vim
.vim/.netrwhist
.vim/vim_backup
.vim/vim_swap
.vim/vim_session
.vim/bundle
.vim/sessions

# emacs
.emacs.d/ac-comphist.dat
.emacs.d/anything-c-adaptive-history
.emacs.d/tramp
.emacs.d/backup
.emacs.d/auto-save-list

# my ignore
bin/rsync*
.tmux
