[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[core]
  excludesfile = ~/.gitignore
  pager = LESS=-R less
  autoCRLF = false
  editor = vim
[alias]
  st = status
  ci = commit
  co = checkout
[merge]
  tool = vimdiff
;  tool = p4merge
  keepBackup = false;
[mergetool "p4merge"]
  cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false
[diff]
  external = git_diff_wrapper
;  external = p4diff
[pager]
  diff =
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[github]
  token = ca87bea99386ed0c9cff3b7df0c1ec04
  user = ikeikeikeike
[user]
  name = ikeikeikeike
  email = jp.ne.co.jp@gmail.com
