# 1. Copy this to ~/.config/systemd/user/fusuma.service
# 2. sudo systemctl enable fusuma
#
# Note that you need to set proper $DISPLAY on your environment.

[Unit]
Description=fusuma

[Service]
KillMode=process
ExecStart=/usr/bin/sudo -H /usr/local/bin/fusuma
Type=simple
Restart=always

[Install]
WantedBy=default.target
