# base.txt is a pip requirements file which describes the necessary
# distributions required to run this project. If you need something that is
# project specific not listed here use project.txt. You can, of course, update
# versions of distributions here if needed.

#--extra-index-url=http://dist.pinaxproject.com/dev/
#--extra-index-url=http://beproud.jp/bundles/1/

# tornado
tornado

# database and storage
asyncmongo
redis

# rabbit mq
pika

# daemon admin
supervisor

#tamqplib
#tpyzmq
#tpyzmq-static

